/* .modify-search{
    background-image: url("../../../images/bgImage/Half-Crop.jpg");
} */

  /* icon animation */
  .rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
  .rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

  /* icon animation for click button */
  .rotate-click {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
  .rotate-click.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

/* .box-shadow{
  box-shadow: 0 5px 15px rgba(213, 213, 213, 0.08);
  background-color: rgba(172, 171, 171, 0.05);
} */

/* .left-side{
  position: sticky;
  top: 0
} */