.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #000000;
    background-color:  #eff9f6;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:  #f6f7f9;
    background-color: #009e70;
    border-color: #f6f7f9 #dee2e6 #f6f7f9;
}


/* .modal-dialog {
    max-width: 80em;
    margin: 1.75rem auto;
    margin-top: 10em;
  } */