.card{
    border-radius: 0px;
}

.titel-width{
    width: 40%;
}

.form-label{
    font-size: 14px;
}

.font-size-checkbok{
    font-size: 15px;
}
span::after {
    padding-left: 5px;
  }
  
input:invalid + .validation::after {
    color: red;
    content: "Input Empty or Invalid!";
}

/* input:valid + .validation::after {
content: "✓";
} */