/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgb(151, 38, 38);
} */
.tbody > tr:nth-child(odd) > td,  .tbody > tr:nth-child(odd) > th {
  background-color: rgb(255, 255, 255);
}
.tbody > tr:nth-child(even) > td,  .tbody > tr:nth-child(even) > th {
  background-color: rgb(230, 230, 230);
}
/* .table-striped > tbody > tr:nth-child(n) > td, .table-striped > tbody > tr:nth-child(n) > th {
  background-color: rgb(255, 255, 255);
} */

.page-item.active .page-link {
  background-color: #6c757d!important;
  border-color: #6c757d!important;
}

.page-link {
  color: #6c757d;
}

.page-item {
  font-size: 12px;
}